In [1]:
import pandas as pd

In [2]:
# Criando um data frame atrav√©s do arquivo csv

df = pd.read_csv('./data/users.csv')

In [4]:
df.head()

,id,firstname,lastname,email,email2,profession,age
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0

In [5]:
df['process'] = 'analysis'

In [6]:
df['new_age'] = df['age'] + 10

In [7]:
df.head()

,id,firstname,lastname,email,email2,profession,age,process,new_age
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,analysis,35.0
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,analysis,36.0
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,analysis,33.0
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,analysis,55.0
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,analysis,55.0

In [8]:
df['full_name'] = df['firstname'] + ' ' + df['lastname']

In [9]:
df.head()

,id,firstname,lastname,email,email2,profession,age,process,new_age,full_name
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,analysis,35.0,Glenda Pyle
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,analysis,36.0,Hollie Allys
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,analysis,33.0,Grier Henrie
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,analysis,55.0,Kittie Strephon
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,analysis,55.0,Kassey Prober

In [10]:
from datetime import datetime as dt

In [18]:
df['created_date_time'] = dt.now().strftime('%d/%m/%Y - %H:%M:%S')

In [19]:
df.head()

,id,firstname,lastname,email,email2,profession,age,process,new_age,full_name,created_date_time
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,analysis,35.0,Glenda Pyle,24/04/2025 - 11:56:02
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,analysis,36.0,Hollie Allys,24/04/2025 - 11:56:02
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,analysis,33.0,Grier Henrie,24/04/2025 - 11:56:02
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,analysis,55.0,Kittie Strephon,24/04/2025 - 11:56:02
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,analysis,55.0,Kassey Prober,24/04/2025 - 11:56:02

In [21]:
df.drop(columns=['new_age'])

,id,firstname,lastname,email,email2,profession,age,process,full_name,created_date_time
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,analysis,Glenda Pyle,24/04/2025 - 11:56:02
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,analysis,Hollie Allys,24/04/2025 - 11:56:02
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,analysis,Grier Henrie,24/04/2025 - 11:56:02
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,analysis,Kittie Strephon,24/04/2025 - 11:56:02
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,analysis,Kassey Prober,24/04/2025 - 11:56:02
5,105,Lusa,Kolnick,Lusa.Kolnick@yopmail.com,Lusa.Kolnick@gmail.com,firefighter,23.0,analysis,Lusa Kolnick,24/04/2025 - 11:56:02
6,106,Fredericka,Florina,Fredericka.Florina@yopmail.com,Fredericka.Florina@gmail.com,firefighter,43.0,analysis,Fredericka Florina,24/04/2025 - 11:56:02
7,107,Constance,Georgy,Constance.Georgy@yopmail.com,Constance.Georgy@gmail.com,doctor,NaN,analysis,Constance Georgy,24/04/2025 - 11:56:02
8,108,Maria,Concha,Averyl.Concha@yopmail.com,Averyl.Concha@uol.com.br,police officer,41.0,analysis,Maria Concha,24/04/2025 - 11:56:02
9,109,Lily,Uird,Lily.Uird@yopmail.com,Lily.Uird@gmail.com,firefighter,46.0,analysis,Lily Uird,24/04/2025 - 11:56:02
10,110,Malina,Huggins,Malina.Huggins@yopmail.com,Malina.Huggins@gmail.com,worker,23.0,analysis,Malina Huggins,24/04/2025 - 11:56:02
11,111,Dorthy,Nisbet,Dorthy.Nisbet@yopmail.com,Dorthy.Nisbet@gmail.com,doctor,NaN,analysis,Dorthy Nisbet,24/04/2025 - 11:56:02
12,112,Tiffie,Joachim,Tiffie.Joachim@yopmail.com,Tiffie.Joachim@gmail.com,doctor,33.0,analysis,Tiffie Joachim,24/04/2025 - 11:56:02
13,113,Agathe,Adrienne,Agathe.Adrienne@yopmail.com,Agathe.Adrienne@gmail.com,developer,32.0,analysis,Agathe Adrienne,24/04/2025 - 11:56:02
14,114,Joao,Silva,joao.silva@bol.com.br,joao.silva.02@zipmail.com,developer,19.0,analysis,Joao Silva,24/04/2025 - 11:56:02